DataEngineeringPython/Production_Level_Data_Pipeline.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : { },
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "groupId" : "385dba07-b173-3e59-9bfb-81b322a15a6a",
            "id" : "6b986b02-4d28-3442-ba06-810089669ef0",
            "instanceIdentifier" : "db9d1e50-0194-1000-6949-aeab2edb03cc",
            "name" : "InputValidation",
            "type" : "INPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "786f407a-bc3e-3ed4-a3eb-a9e70e5715d6",
          "identifier" : "9cac17bb-3268-32ff-bd9f-587e34a8e5d9",
          "instanceIdentifier" : "db9d3e46-0194-1000-5b40-e5f037437d9e",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "groupId" : "0cf3c1b5-9099-35d6-8c83-2d758ea47406",
            "id" : "df678296-559c-3cb5-8be8-e5b3618bec3f",
            "instanceIdentifier" : "db39e4f1-0194-1000-1d0e-9574fe8dde00",
            "name" : "OutputQueryStaging",
            "type" : "OUTPUT_PORT"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "groupId" : "34060ae0-a60a-37a9-a38b-bca43d7ff661",
            "id" : "6186407e-1574-3730-868d-5270885ce51e",
            "instanceIdentifier" : "d6a2bd93-0194-1000-2fff-da7d8b774a06",
            "name" : "InputStaging",
            "type" : "INPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "786f407a-bc3e-3ed4-a3eb-a9e70e5715d6",
          "identifier" : "b6f35afd-066d-3bb5-813c-2c3af283e99c",
          "instanceIdentifier" : "d6a2ee2b-0194-1000-5dda-503b464dcaa3",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "groupId" : "2f74398a-52db-37e4-8218-c7c3d7843ae0",
            "id" : "8e9e132c-e479-33cd-9493-8d7142e0fe8f",
            "instanceIdentifier" : "d63485ed-0194-1000-9cc7-f3af8f978a67",
            "name" : "OutputDataLake",
            "type" : "OUTPUT_PORT"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "groupId" : "0cf3c1b5-9099-35d6-8c83-2d758ea47406",
            "id" : "4cbc8d71-9ce4-3838-8c94-d07807142704",
            "instanceIdentifier" : "dacd186d-0194-1000-7bf0-7502bfdd2e3f",
            "name" : "InputQuering",
            "type" : "INPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "786f407a-bc3e-3ed4-a3eb-a9e70e5715d6",
          "identifier" : "9226bb62-4b2f-3b09-9e95-624c3c64b90b",
          "instanceIdentifier" : "dacd3aa6-0194-1000-2feb-98b072233830",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "groupId" : "34060ae0-a60a-37a9-a38b-bca43d7ff661",
            "id" : "a3d080c6-6637-38cd-bafa-4f65b979b13a",
            "instanceIdentifier" : "d6b677da-0194-1000-129c-813fc793c67b",
            "name" : "OutputStaging",
            "type" : "OUTPUT_PORT"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "groupId" : "3517f591-88c3-3dcc-8cb7-9eb20f90bbd5",
            "id" : "4a84cabe-a3e1-3255-a7a9-35f1ec461e4d",
            "instanceIdentifier" : "32d43297-c038-1da3-1059-0c994078cca7",
            "name" : "InputWarehouse",
            "type" : "INPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "786f407a-bc3e-3ed4-a3eb-a9e70e5715d6",
          "identifier" : "7a136497-634f-32e7-a169-3db9d7388757",
          "instanceIdentifier" : "32d43298-c038-1da3-183b-f21d95deeb68",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "groupId" : "385dba07-b173-3e59-9bfb-81b322a15a6a",
            "id" : "afb37903-ec73-3f91-81e8-f51bb6488cda",
            "instanceIdentifier" : "32d4328b-c038-1da3-e52c-36e8b0d446cc",
            "name" : "OutputValidationPass",
            "type" : "OUTPUT_PORT"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "7ec30718-850e-3b2b-87f9-01498921ddf5",
            "id" : "708e5279-2f45-38cf-989d-534756684351",
            "instanceIdentifier" : "d64a2e2c-0194-1000-e189-3d8a02c4f008",
            "name" : "InputScanning",
            "type" : "INPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "786f407a-bc3e-3ed4-a3eb-a9e70e5715d6",
          "identifier" : "aad7fe78-9bae-3638-888e-95671a673ae5",
          "instanceIdentifier" : "d6a341e5-0194-1000-0520-6f6f769efbd5",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "groupId" : "2f74398a-52db-37e4-8218-c7c3d7843ae0",
            "id" : "8e9e132c-e479-33cd-9493-8d7142e0fe8f",
            "instanceIdentifier" : "d63485ed-0194-1000-9cc7-f3af8f978a67",
            "name" : "OutputDataLake",
            "type" : "OUTPUT_PORT"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ ],
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultFlowFileExpiration" : "0 sec",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ ],
        "identifier" : "786f407a-bc3e-3ed4-a3eb-a9e70e5715d6",
        "inputPorts" : [ ],
        "instanceIdentifier" : "d5eeaa2e-0194-1000-5a5d-a0a0540c86a7",
        "labels" : [ ],
        "logFileSuffix" : "",
        "name" : "CrickardProductionDataPipeline",
        "outputPorts" : [ ],
        "parameterContextName" : "DataLakeParams",
        "position" : {
          "x" : -2840.0,
          "y" : -1048.0
        },
        "processGroups" : [ {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "0cf3c1b5-9099-35d6-8c83-2d758ea47406",
              "id" : "c2445318-8543-3d10-b21c-9151e44f8973",
              "instanceIdentifier" : "dace195a-0194-1000-be09-c491525dac27",
              "name" : "Query Staging Count",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "0cf3c1b5-9099-35d6-8c83-2d758ea47406",
            "identifier" : "685f0fd9-5d86-354c-800f-780171e2eb47",
            "instanceIdentifier" : "dace338d-0194-1000-0dfb-3d809a8cee5f",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "groupId" : "0cf3c1b5-9099-35d6-8c83-2d758ea47406",
              "id" : "4cbc8d71-9ce4-3838-8c94-d07807142704",
              "instanceIdentifier" : "dacd186d-0194-1000-7bf0-7502bfdd2e3f",
              "name" : "InputQuering",
              "type" : "INPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "0cf3c1b5-9099-35d6-8c83-2d758ea47406",
              "id" : "c9d533a9-0b13-36cd-8d58-283a48e4ac3e",
              "instanceIdentifier" : "32d432c3-c038-1da3-940c-6590ab2a1cc5",
              "name" : "UpdateCounter",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "0cf3c1b5-9099-35d6-8c83-2d758ea47406",
            "identifier" : "abd2af50-0240-3bf2-b6bf-24bcbcc38ea5",
            "instanceIdentifier" : "32d432c4-c038-1da3-6e8a-0c86dd6080d5",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "unmatched" ],
            "source" : {
              "comments" : "",
              "groupId" : "0cf3c1b5-9099-35d6-8c83-2d758ea47406",
              "id" : "230943b5-801a-35bd-bdea-944d8f36b027",
              "instanceIdentifier" : "db37821e-0194-1000-7767-6331e0ec1e23",
              "name" : "RouteOnAttribute",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "groupId" : "0cf3c1b5-9099-35d6-8c83-2d758ea47406",
              "id" : "df678296-559c-3cb5-8be8-e5b3618bec3f",
              "instanceIdentifier" : "db39e4f1-0194-1000-1d0e-9574fe8dde00",
              "name" : "OutputQueryStaging",
              "type" : "OUTPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "0cf3c1b5-9099-35d6-8c83-2d758ea47406",
            "identifier" : "53a6346a-aee2-3985-b004-d12cb76dd442",
            "instanceIdentifier" : "db3a9b2f-0194-1000-dc3c-01102ea7d89b",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "allrecords" ],
            "source" : {
              "comments" : "",
              "groupId" : "0cf3c1b5-9099-35d6-8c83-2d758ea47406",
              "id" : "230943b5-801a-35bd-bdea-944d8f36b027",
              "instanceIdentifier" : "db37821e-0194-1000-7767-6331e0ec1e23",
              "name" : "RouteOnAttribute",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "0cf3c1b5-9099-35d6-8c83-2d758ea47406",
              "id" : "adfcf228-9d9f-3aab-a76c-b6faf7b2c7bd",
              "instanceIdentifier" : "db29e59b-0194-1000-cf42-4568e50c0d18",
              "name" : "EvaluateJsonPath",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "0cf3c1b5-9099-35d6-8c83-2d758ea47406",
            "identifier" : "39596765-3dcb-3e32-bfc6-09f847411a70",
            "instanceIdentifier" : "db2a367b-0194-1000-ce2f-474f4902bef9",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "0cf3c1b5-9099-35d6-8c83-2d758ea47406",
              "id" : "c2445318-8543-3d10-b21c-9151e44f8973",
              "instanceIdentifier" : "dace195a-0194-1000-be09-c491525dac27",
              "name" : "Query Staging Count",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "0cf3c1b5-9099-35d6-8c83-2d758ea47406",
              "id" : "230943b5-801a-35bd-bdea-944d8f36b027",
              "instanceIdentifier" : "db37821e-0194-1000-7767-6331e0ec1e23",
              "name" : "RouteOnAttribute",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "0cf3c1b5-9099-35d6-8c83-2d758ea47406",
            "identifier" : "2e413230-431e-3bec-b98e-af38200ae8d2",
            "instanceIdentifier" : "db37a6f8-0194-1000-bffa-9057c1830e4b",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "matched" ],
            "source" : {
              "comments" : "",
              "groupId" : "0cf3c1b5-9099-35d6-8c83-2d758ea47406",
              "id" : "adfcf228-9d9f-3aab-a76c-b6faf7b2c7bd",
              "instanceIdentifier" : "db29e59b-0194-1000-cf42-4568e50c0d18",
              "name" : "EvaluateJsonPath",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          } ],
          "controllerServices" : [ {
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-dbcp-service-nar",
              "group" : "org.apache.nifi",
              "version" : "1.28.1"
            },
            "comments" : "",
            "componentType" : "CONTROLLER_SERVICE",
            "controllerServiceApis" : [ {
              "bundle" : {
                "artifact" : "nifi-standard-services-api-nar",
                "group" : "org.apache.nifi",
                "version" : "1.28.1"
              },
              "type" : "org.apache.nifi.dbcp.DBCPService"
            } ],
            "groupIdentifier" : "0cf3c1b5-9099-35d6-8c83-2d758ea47406",
            "identifier" : "cf90ed41-debe-37c8-b12a-efbb7887ecd5",
            "instanceIdentifier" : "db0e4f43-0194-1000-f368-6fca8ad77f51",
            "name" : "QueryStagingCount",
            "properties" : {
              "dbcp-min-idle-conns" : "0",
              "Max Wait Time" : "500 millis",
              "Database Driver Class Name" : "#{DatabaseDriverClassName}",
              "dbcp-min-evictable-idle-time" : "30 mins",
              "Max Total Connections" : "8",
              "dbcp-max-conn-lifetime" : "-1",
              "Database Connection URL" : "jdbc:postgresql://localhost/#{database}",
              "dbcp-time-between-eviction-runs" : "-1",
              "Database User" : "#{postgres_username}",
              "dbcp-soft-min-evictable-idle-time" : "-1",
              "database-driver-locations" : "#{DatabaseDriverLocation}",
              "dbcp-max-idle-conns" : "8",
              "Password" : "#{postgres_password}"
            },
            "propertyDescriptors" : {
              "kerberos-password" : {
                "displayName" : "Kerberos Password",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "kerberos-password",
                "sensitive" : true
              },
              "dbcp-min-idle-conns" : {
                "displayName" : "Minimum Idle Connections",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "dbcp-min-idle-conns",
                "sensitive" : false
              },
              "Max Wait Time" : {
                "displayName" : "Max Wait Time",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Max Wait Time",
                "sensitive" : false
              },
              "Database Driver Class Name" : {
                "displayName" : "Database Driver Class Name",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Database Driver Class Name",
                "sensitive" : false
              },
              "dbcp-min-evictable-idle-time" : {
                "displayName" : "Minimum Evictable Idle Time",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "dbcp-min-evictable-idle-time",
                "sensitive" : false
              },
              "kerberos-principal" : {
                "displayName" : "Kerberos Principal",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "kerberos-principal",
                "sensitive" : false
              },
              "Max Total Connections" : {
                "displayName" : "Max Total Connections",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Max Total Connections",
                "sensitive" : false
              },
              "kerberos-credentials-service" : {
                "displayName" : "Kerberos Credentials Service",
                "dynamic" : false,
                "identifiesControllerService" : true,
                "name" : "kerberos-credentials-service",
                "sensitive" : false
              },
              "dbcp-max-conn-lifetime" : {
                "displayName" : "Max Connection Lifetime",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "dbcp-max-conn-lifetime",
                "sensitive" : false
              },
              "Validation-query" : {
                "displayName" : "Validation query",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Validation-query",
                "sensitive" : false
              },
              "Database Connection URL" : {
                "displayName" : "Database Connection URL",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Database Connection URL",
                "sensitive" : false
              },
              "dbcp-time-between-eviction-runs" : {
                "displayName" : "Time Between Eviction Runs",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "dbcp-time-between-eviction-runs",
                "sensitive" : false
              },
              "Database User" : {
                "displayName" : "Database User",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Database User",
                "sensitive" : false
              },
              "kerberos-user-service" : {
                "displayName" : "Kerberos User Service",
                "dynamic" : false,
                "identifiesControllerService" : true,
                "name" : "kerberos-user-service",
                "sensitive" : false
              },
              "dbcp-soft-min-evictable-idle-time" : {
                "displayName" : "Soft Minimum Evictable Idle Time",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "dbcp-soft-min-evictable-idle-time",
                "sensitive" : false
              },
              "database-driver-locations" : {
                "displayName" : "Database Driver Location(s)",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "database-driver-locations",
                "resourceDefinition" : {
                  "cardinality" : "MULTIPLE",
                  "resourceTypes" : [ "DIRECTORY", "FILE", "URL" ]
                },
                "sensitive" : false
              },
              "dbcp-max-idle-conns" : {
                "displayName" : "Max Idle Connections",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "dbcp-max-idle-conns",
                "sensitive" : false
              },
              "Password" : {
                "displayName" : "Password",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Password",
                "sensitive" : true
              }
            },
            "scheduledState" : "DISABLED",
            "type" : "org.apache.nifi.dbcp.DBCPConnectionPool"
          }, {
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-record-serialization-services-nar",
              "group" : "org.apache.nifi",
              "version" : "1.28.1"
            },
            "comments" : "",
            "componentType" : "CONTROLLER_SERVICE",
            "controllerServiceApis" : [ {
              "bundle" : {
                "artifact" : "nifi-standard-services-api-nar",
                "group" : "org.apache.nifi",
                "version" : "1.28.1"
              },
              "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
            } ],
            "groupIdentifier" : "0cf3c1b5-9099-35d6-8c83-2d758ea47406",
            "identifier" : "5a1b6c13-715e-344e-91c4-07f18ad17a64",
            "instanceIdentifier" : "daec95db-0194-1000-dbd2-3f79c6d9c083",
            "name" : "DataLakeJsonRecordSetWriter",
            "properties" : {
              "Allow Scientific Notation" : "true",
              "compression-level" : "1",
              "Pretty Print JSON" : "false",
              "compression-format" : "none",
              "Schema Write Strategy" : "no-schema",
              "suppress-nulls" : "never-suppress",
              "output-grouping" : "output-oneline",
              "schema-name" : "${schema.name}",
              "schema-access-strategy" : "inherit-record-schema",
              "schema-protocol-version" : "1",
              "schema-text" : "${avro.schema}"
            },
            "propertyDescriptors" : {
              "schema-branch" : {
                "displayName" : "Schema Branch",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "schema-branch",
                "sensitive" : false
              },
              "Allow Scientific Notation" : {
                "displayName" : "Allow Scientific Notation",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Allow Scientific Notation",
                "sensitive" : false
              },
              "compression-level" : {
                "displayName" : "Compression Level",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "compression-level",
                "sensitive" : false
              },
              "schema-cache" : {
                "displayName" : "Schema Cache",
                "dynamic" : false,
                "identifiesControllerService" : true,
                "name" : "schema-cache",
                "sensitive" : false
              },
              "Timestamp Format" : {
                "displayName" : "Timestamp Format",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Timestamp Format",
                "sensitive" : false
              },
              "Date Format" : {
                "displayName" : "Date Format",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Date Format",
                "sensitive" : false
              },
              "Pretty Print JSON" : {
                "displayName" : "Pretty Print JSON",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Pretty Print JSON",
                "sensitive" : false
              },
              "compression-format" : {
                "displayName" : "Compression Format",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "compression-format",
                "sensitive" : false
              },
              "Schema Write Strategy" : {
                "displayName" : "Schema Write Strategy",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Schema Write Strategy",
                "sensitive" : false
              },
              "suppress-nulls" : {
                "displayName" : "Suppress Null Values",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "suppress-nulls",
                "sensitive" : false
              },
              "output-grouping" : {
                "displayName" : "Output Grouping",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "output-grouping",
                "sensitive" : false
              },
              "schema-name" : {
                "displayName" : "Schema Name",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "schema-name",
                "sensitive" : false
              },
              "schema-registry" : {
                "displayName" : "Schema Registry",
                "dynamic" : false,
                "identifiesControllerService" : true,
                "name" : "schema-registry",
                "sensitive" : false
              },
              "Time Format" : {
                "displayName" : "Time Format",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Time Format",
                "sensitive" : false
              },
              "schema-access-strategy" : {
                "displayName" : "Schema Access Strategy",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "schema-access-strategy",
                "sensitive" : false
              },
              "schema-protocol-version" : {
                "displayName" : "Schema Protocol Version",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "schema-protocol-version",
                "sensitive" : false
              },
              "schema-version" : {
                "displayName" : "Schema Version",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "schema-version",
                "sensitive" : false
              },
              "schema-text" : {
                "displayName" : "Schema Text",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "schema-text",
                "sensitive" : false
              }
            },
            "scheduledState" : "DISABLED",
            "type" : "org.apache.nifi.json.JsonRecordSetWriter"
          } ],
          "defaultBackPressureDataSizeThreshold" : "1 GB",
          "defaultBackPressureObjectThreshold" : 10000,
          "defaultFlowFileExpiration" : "0 sec",
          "flowFileConcurrency" : "UNBOUNDED",
          "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
          "funnels" : [ ],
          "groupIdentifier" : "786f407a-bc3e-3ed4-a3eb-a9e70e5715d6",
          "identifier" : "0cf3c1b5-9099-35d6-8c83-2d758ea47406",
          "inputPorts" : [ {
            "allowRemoteAccess" : false,
            "componentType" : "INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "0cf3c1b5-9099-35d6-8c83-2d758ea47406",
            "identifier" : "4cbc8d71-9ce4-3838-8c94-d07807142704",
            "instanceIdentifier" : "dacd186d-0194-1000-7bf0-7502bfdd2e3f",
            "name" : "InputQuering",
            "position" : {
              "x" : -3104.0,
              "y" : -1432.0
            },
            "scheduledState" : "ENABLED",
            "type" : "INPUT_PORT"
          } ],
          "instanceIdentifier" : "daca96bf-0194-1000-c988-9f0adc7c42a5",
          "labels" : [ ],
          "logFileSuffix" : "",
          "name" : "QueryStaging",
          "outputPorts" : [ {
            "allowRemoteAccess" : false,
            "componentType" : "OUTPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "0cf3c1b5-9099-35d6-8c83-2d758ea47406",
            "identifier" : "df678296-559c-3cb5-8be8-e5b3618bec3f",
            "instanceIdentifier" : "db39e4f1-0194-1000-1d0e-9574fe8dde00",
            "name" : "OutputQueryStaging",
            "position" : {
              "x" : -3048.0,
              "y" : -696.0
            },
            "scheduledState" : "ENABLED",
            "type" : "OUTPUT_PORT"
          } ],
          "parameterContextName" : "DataLakeParams",
          "position" : {
            "x" : -3000.0,
            "y" : -960.0
          },
          "processGroups" : [ ],
          "processors" : [ {
            "autoTerminatedRelationships" : [ "failure", "unmatched" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.28.1"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "0cf3c1b5-9099-35d6-8c83-2d758ea47406",
            "identifier" : "adfcf228-9d9f-3aab-a76c-b6faf7b2c7bd",
            "instanceIdentifier" : "db29e59b-0194-1000-cf42-4568e50c0d18",
            "maxBackoffPeriod" : "10 mins",
            "name" : "EvaluateJsonPath",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : -3104.0,
              "y" : -1088.0
            },
            "properties" : {
              "Destination" : "flowfile-attribute",
              "recordcount" : "$.recordcount",
              "Max String Length" : "20 MB",
              "Return Type" : "auto-detect",
              "Null Value Representation" : "empty string",
              "Path Not Found Behavior" : "ignore"
            },
            "propertyDescriptors" : {
              "Destination" : {
                "displayName" : "Destination",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Destination",
                "sensitive" : false
              },
              "recordcount" : {
                "displayName" : "recordcount",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "recordcount",
                "sensitive" : false
              },
              "Max String Length" : {
                "displayName" : "Max String Length",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Max String Length",
                "sensitive" : false
              },
              "Return Type" : {
                "displayName" : "Return Type",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Return Type",
                "sensitive" : false
              },
              "Null Value Representation" : {
                "displayName" : "Null Value Representation",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Null Value Representation",
                "sensitive" : false
              },
              "Path Not Found Behavior" : {
                "displayName" : "Path Not Found Behavior",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Path Not Found Behavior",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.28.1"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "0cf3c1b5-9099-35d6-8c83-2d758ea47406",
            "identifier" : "c2445318-8543-3d10-b21c-9151e44f8973",
            "instanceIdentifier" : "dace195a-0194-1000-be09-c491525dac27",
            "maxBackoffPeriod" : "10 mins",
            "name" : "Query Staging Count",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : -3112.0,
              "y" : -1288.0
            },
            "properties" : {
              "esql-max-rows" : "0",
              "esqlrecord-record-writer" : "5a1b6c13-715e-344e-91c4-07f18ad17a64",
              "dbf-default-precision" : "10",
              "Max Wait Time" : "0 seconds",
              "Database Connection Pooling Service" : "cf90ed41-debe-37c8-b12a-efbb7887ecd5",
              "esql-auto-commit" : "true",
              "dbf-user-logical-types" : "false",
              "dbf-default-scale" : "0",
              "esql-output-batch-size" : "0",
              "esql-fetch-size" : "0",
              "SQL select query" : "SELECT COUNT(*) AS recordcount FROM staging;",
              "esqlrecord-normalize" : "false"
            },
            "propertyDescriptors" : {
              "esql-max-rows" : {
                "displayName" : "Max Rows Per Flow File",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "esql-max-rows",
                "sensitive" : false
              },
              "esqlrecord-record-writer" : {
                "displayName" : "Record Writer",
                "dynamic" : false,
                "identifiesControllerService" : true,
                "name" : "esqlrecord-record-writer",
                "sensitive" : false
              },
              "dbf-default-precision" : {
                "displayName" : "Default Decimal Precision",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "dbf-default-precision",
                "sensitive" : false
              },
              "Max Wait Time" : {
                "displayName" : "Max Wait Time",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Max Wait Time",
                "sensitive" : false
              },
              "Database Connection Pooling Service" : {
                "displayName" : "Database Connection Pooling Service",
                "dynamic" : false,
                "identifiesControllerService" : true,
                "name" : "Database Connection Pooling Service",
                "sensitive" : false
              },
              "sql-post-query" : {
                "displayName" : "SQL Post-Query",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "sql-post-query",
                "sensitive" : false
              },
              "esql-auto-commit" : {
                "displayName" : "Set Auto Commit",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "esql-auto-commit",
                "sensitive" : false
              },
              "dbf-user-logical-types" : {
                "displayName" : "Use Avro Logical Types",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "dbf-user-logical-types",
                "sensitive" : false
              },
              "dbf-default-scale" : {
                "displayName" : "Default Decimal Scale",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "dbf-default-scale",
                "sensitive" : false
              },
              "sql-pre-query" : {
                "displayName" : "SQL Pre-Query",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "sql-pre-query",
                "sensitive" : false
              },
              "esql-output-batch-size" : {
                "displayName" : "Output Batch Size",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "esql-output-batch-size",
                "sensitive" : false
              },
              "esql-fetch-size" : {
                "displayName" : "Fetch Size",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "esql-fetch-size",
                "sensitive" : false
              },
              "SQL select query" : {
                "displayName" : "SQL select query",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "SQL select query",
                "sensitive" : false
              },
              "esqlrecord-normalize" : {
                "displayName" : "Normalize Table/Column Names",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "esqlrecord-normalize",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.ExecuteSQLRecord",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.28.1"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "0cf3c1b5-9099-35d6-8c83-2d758ea47406",
            "identifier" : "230943b5-801a-35bd-bdea-944d8f36b027",
            "instanceIdentifier" : "db37821e-0194-1000-7767-6331e0ec1e23",
            "maxBackoffPeriod" : "10 mins",
            "name" : "RouteOnAttribute",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : -3112.0,
              "y" : -896.0
            },
            "properties" : {
              "Routing Strategy" : "Route to Property name",
              "allrecords" : "${recordcount:ge(1000)}"
            },
            "propertyDescriptors" : {
              "Routing Strategy" : {
                "displayName" : "Routing Strategy",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Routing Strategy",
                "sensitive" : false
              },
              "allrecords" : {
                "displayName" : "allrecords",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "allrecords",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 25,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "success" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.28.1"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "0cf3c1b5-9099-35d6-8c83-2d758ea47406",
            "identifier" : "c9d533a9-0b13-36cd-8d58-283a48e4ac3e",
            "instanceIdentifier" : "32d432c3-c038-1da3-940c-6590ab2a1cc5",
            "maxBackoffPeriod" : "10 mins",
            "name" : "UpdateCounter",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : -2608.0,
              "y" : -664.0
            },
            "properties" : {
              "counter-name" : "LessThan1000",
              "delta" : "1"
            },
            "propertyDescriptors" : {
              "counter-name" : {
                "displayName" : "Counter Name",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "counter-name",
                "sensitive" : false
              },
              "delta" : {
                "displayName" : "Delta",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "delta",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.UpdateCounter",
            "yieldDuration" : "1 sec"
          } ],
          "remoteProcessGroups" : [ ]
        }, {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "385dba07-b173-3e59-9bfb-81b322a15a6a",
              "id" : "2c846afa-986d-3795-b4e0-09290ad472da",
              "instanceIdentifier" : "32d43288-c038-1da3-1b4f-6ab5cbe81502",
              "name" : "EvaluateJsonPath",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "385dba07-b173-3e59-9bfb-81b322a15a6a",
            "identifier" : "86ee2e21-fca4-3c54-be7f-1ff212ef5bdb",
            "instanceIdentifier" : "32d43289-c038-1da3-61d0-b46d2bc9ef63",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "output stream" ],
            "source" : {
              "comments" : "",
              "groupId" : "385dba07-b173-3e59-9bfb-81b322a15a6a",
              "id" : "ac8b41aa-d1e9-31bd-8d54-c674c7ae910d",
              "instanceIdentifier" : "da3c33d9-850a-1a07-556c-6afc520b08cc",
              "name" : "Evaluate using Great Expectations",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "385dba07-b173-3e59-9bfb-81b322a15a6a",
              "id" : "ac8b41aa-d1e9-31bd-8d54-c674c7ae910d",
              "instanceIdentifier" : "da3c33d9-850a-1a07-556c-6afc520b08cc",
              "name" : "Evaluate using Great Expectations",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "385dba07-b173-3e59-9bfb-81b322a15a6a",
            "identifier" : "55202099-7490-39d2-8c72-58e78a0e61c7",
            "instanceIdentifier" : "da3c33da-850a-1a07-ce18-52439115cbbc",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "groupId" : "385dba07-b173-3e59-9bfb-81b322a15a6a",
              "id" : "6b986b02-4d28-3442-ba06-810089669ef0",
              "instanceIdentifier" : "db9d1e50-0194-1000-6949-aeab2edb03cc",
              "name" : "InputValidation",
              "type" : "INPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "385dba07-b173-3e59-9bfb-81b322a15a6a",
              "id" : "55bcb710-b0e7-3d7a-98fd-1a5f6a199312",
              "instanceIdentifier" : "32d43287-c038-1da3-1de6-6086ff427f47",
              "name" : "RouteOnAttribute",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "385dba07-b173-3e59-9bfb-81b322a15a6a",
            "identifier" : "d85d714c-2cb0-3b07-8d24-cd0954c1e277",
            "instanceIdentifier" : "32d4328a-c038-1da3-70d5-eb9951bfd5d8",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "matched" ],
            "source" : {
              "comments" : "",
              "groupId" : "385dba07-b173-3e59-9bfb-81b322a15a6a",
              "id" : "2c846afa-986d-3795-b4e0-09290ad472da",
              "instanceIdentifier" : "32d43288-c038-1da3-1b4f-6ab5cbe81502",
              "name" : "EvaluateJsonPath",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "groupId" : "385dba07-b173-3e59-9bfb-81b322a15a6a",
              "id" : "bcc80236-2e4b-3ebf-9318-1fae8019c544",
              "instanceIdentifier" : "32d4328c-c038-1da3-8e69-8abfc93b6ceb",
              "name" : "OutputValidationFail",
              "type" : "OUTPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "385dba07-b173-3e59-9bfb-81b322a15a6a",
            "identifier" : "b9f320f1-4962-3780-8240-9c0379f8f47f",
            "instanceIdentifier" : "32d4328d-c038-1da3-0e6e-b6e0c0db19e5",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "fail" ],
            "source" : {
              "comments" : "",
              "groupId" : "385dba07-b173-3e59-9bfb-81b322a15a6a",
              "id" : "55bcb710-b0e7-3d7a-98fd-1a5f6a199312",
              "instanceIdentifier" : "32d43287-c038-1da3-1de6-6086ff427f47",
              "name" : "RouteOnAttribute",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "groupId" : "385dba07-b173-3e59-9bfb-81b322a15a6a",
              "id" : "afb37903-ec73-3f91-81e8-f51bb6488cda",
              "instanceIdentifier" : "32d4328b-c038-1da3-e52c-36e8b0d446cc",
              "name" : "OutputValidationPass",
              "type" : "OUTPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "385dba07-b173-3e59-9bfb-81b322a15a6a",
            "identifier" : "1f5804c5-9ce1-36f4-abef-4e6d875421ed",
            "instanceIdentifier" : "32d4328e-c038-1da3-f680-53a09625ca0f",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "pass" ],
            "source" : {
              "comments" : "",
              "groupId" : "385dba07-b173-3e59-9bfb-81b322a15a6a",
              "id" : "55bcb710-b0e7-3d7a-98fd-1a5f6a199312",
              "instanceIdentifier" : "32d43287-c038-1da3-1de6-6086ff427f47",
              "name" : "RouteOnAttribute",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          } ],
          "controllerServices" : [ ],
          "defaultBackPressureDataSizeThreshold" : "1 GB",
          "defaultBackPressureObjectThreshold" : 10000,
          "defaultFlowFileExpiration" : "0 sec",
          "flowFileConcurrency" : "UNBOUNDED",
          "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
          "funnels" : [ ],
          "groupIdentifier" : "786f407a-bc3e-3ed4-a3eb-a9e70e5715d6",
          "identifier" : "385dba07-b173-3e59-9bfb-81b322a15a6a",
          "inputPorts" : [ {
            "allowRemoteAccess" : false,
            "componentType" : "INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "385dba07-b173-3e59-9bfb-81b322a15a6a",
            "identifier" : "6b986b02-4d28-3442-ba06-810089669ef0",
            "instanceIdentifier" : "db9d1e50-0194-1000-6949-aeab2edb03cc",
            "name" : "InputValidation",
            "position" : {
              "x" : -3014.9297400729088,
              "y" : -1431.7689235792147
            },
            "scheduledState" : "ENABLED",
            "type" : "INPUT_PORT"
          } ],
          "instanceIdentifier" : "db9cc053-0194-1000-db57-0b617e51882d",
          "labels" : [ ],
          "logFileSuffix" : "",
          "name" : "ValidateStaging",
          "outputPorts" : [ {
            "allowRemoteAccess" : false,
            "componentType" : "OUTPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "385dba07-b173-3e59-9bfb-81b322a15a6a",
            "identifier" : "bcc80236-2e4b-3ebf-9318-1fae8019c544",
            "instanceIdentifier" : "32d4328c-c038-1da3-8e69-8abfc93b6ceb",
            "name" : "OutputValidationFail",
            "position" : {
              "x" : -2576.0,
              "y" : -1008.0
            },
            "scheduledState" : "ENABLED",
            "type" : "OUTPUT_PORT"
          }, {
            "allowRemoteAccess" : false,
            "componentType" : "OUTPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "385dba07-b173-3e59-9bfb-81b322a15a6a",
            "identifier" : "afb37903-ec73-3f91-81e8-f51bb6488cda",
            "instanceIdentifier" : "32d4328b-c038-1da3-e52c-36e8b0d446cc",
            "name" : "OutputValidationPass",
            "position" : {
              "x" : -2878.9297400729088,
              "y" : -676.7689235792147
            },
            "scheduledState" : "ENABLED",
            "type" : "OUTPUT_PORT"
          } ],
          "parameterContextName" : "DataLakeParams",
          "position" : {
            "x" : -3000.0,
            "y" : -664.0
          },
          "processGroups" : [ ],
          "processors" : [ {
            "autoTerminatedRelationships" : [ "failure", "unmatched" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.28.1"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "385dba07-b173-3e59-9bfb-81b322a15a6a",
            "identifier" : "2c846afa-986d-3795-b4e0-09290ad472da",
            "instanceIdentifier" : "32d43288-c038-1da3-1b4f-6ab5cbe81502",
            "maxBackoffPeriod" : "10 mins",
            "name" : "EvaluateJsonPath",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : -3032.0,
              "y" : -1096.0
            },
            "properties" : {
              "result" : "$.result",
              "Destination" : "flowfile-attribute",
              "Max String Length" : "20 MB",
              "Return Type" : "auto-detect",
              "Null Value Representation" : "empty string",
              "Path Not Found Behavior" : "ignore"
            },
            "propertyDescriptors" : {
              "result" : {
                "displayName" : "result",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "result",
                "sensitive" : false
              },
              "Destination" : {
                "displayName" : "Destination",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Destination",
                "sensitive" : false
              },
              "Max String Length" : {
                "displayName" : "Max String Length",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Max String Length",
                "sensitive" : false
              },
              "Return Type" : {
                "displayName" : "Return Type",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Return Type",
                "sensitive" : false
              },
              "Null Value Representation" : {
                "displayName" : "Null Value Representation",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Null Value Representation",
                "sensitive" : false
              },
              "Path Not Found Behavior" : {
                "displayName" : "Path Not Found Behavior",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Path Not Found Behavior",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "unmatched" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.28.1"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "385dba07-b173-3e59-9bfb-81b322a15a6a",
            "identifier" : "55bcb710-b0e7-3d7a-98fd-1a5f6a199312",
            "instanceIdentifier" : "32d43287-c038-1da3-1de6-6086ff427f47",
            "maxBackoffPeriod" : "10 mins",
            "name" : "RouteOnAttribute",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : -3024.0,
              "y" : -888.0
            },
            "properties" : {
              "fail" : "${result:startsWith('fail')}",
              "Routing Strategy" : "Route to Property name",
              "pass" : "${result:startsWith('pass')}"
            },
            "propertyDescriptors" : {
              "fail" : {
                "displayName" : "fail",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "fail",
                "sensitive" : false
              },
              "Routing Strategy" : {
                "displayName" : "Routing Strategy",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Routing Strategy",
                "sensitive" : false
              },
              "pass" : {
                "displayName" : "pass",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "pass",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 25,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "original", "nonzero status" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.28.1"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "385dba07-b173-3e59-9bfb-81b322a15a6a",
            "identifier" : "ac8b41aa-d1e9-31bd-8d54-c674c7ae910d",
            "instanceIdentifier" : "da3c33d9-850a-1a07-556c-6afc520b08cc",
            "maxBackoffPeriod" : "10 mins",
            "name" : "Evaluate using Great Expectations",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : -3032.0,
              "y" : -1304.0
            },
            "properties" : {
              "argumentsStrategy" : "Command Arguments Property",
              "Max Attribute Length" : "256",
              "Output MIME Type" : "application/json",
              "Working Directory" : "#{gx_dir}",
              "Command Path" : "/home/vfilip/airflow_env/bin/python",
              "Argument Delimiter" : ";",
              "Ignore STDIN" : "false",
              "Command Arguments" : "#{gx_validation_script}"
            },
            "propertyDescriptors" : {
              "argumentsStrategy" : {
                "displayName" : "Command Arguments Strategy",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "argumentsStrategy",
                "sensitive" : false
              },
              "Max Attribute Length" : {
                "displayName" : "Max Attribute Length",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Max Attribute Length",
                "sensitive" : false
              },
              "Output MIME Type" : {
                "displayName" : "Output MIME Type",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Output MIME Type",
                "sensitive" : false
              },
              "Working Directory" : {
                "displayName" : "Working Directory",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Working Directory",
                "sensitive" : false
              },
              "Command Path" : {
                "displayName" : "Command Path",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Command Path",
                "sensitive" : false
              },
              "Output Destination Attribute" : {
                "displayName" : "Output Destination Attribute",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Output Destination Attribute",
                "sensitive" : false
              },
              "Argument Delimiter" : {
                "displayName" : "Argument Delimiter",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Argument Delimiter",
                "sensitive" : false
              },
              "Ignore STDIN" : {
                "displayName" : "Ignore STDIN",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Ignore STDIN",
                "sensitive" : false
              },
              "Command Arguments" : {
                "displayName" : "Command Arguments",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Command Arguments",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.ExecuteStreamCommand",
            "yieldDuration" : "1 sec"
          } ],
          "remoteProcessGroups" : [ ]
        }, {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "34060ae0-a60a-37a9-a38b-bca43d7ff661",
              "id" : "2c348b58-b828-352e-a181-da6a3511315e",
              "instanceIdentifier" : "d6a40464-0194-1000-5e76-67edfc8a16c0",
              "name" : "Insert into Staging",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "34060ae0-a60a-37a9-a38b-bca43d7ff661",
            "identifier" : "2210184e-4379-34b1-8b83-c92645a3706f",
            "instanceIdentifier" : "d6b58d6c-0194-1000-437d-e4289db8d9a7",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "groupId" : "34060ae0-a60a-37a9-a38b-bca43d7ff661",
              "id" : "6186407e-1574-3730-868d-5270885ce51e",
              "instanceIdentifier" : "d6a2bd93-0194-1000-2fff-da7d8b774a06",
              "name" : "InputStaging",
              "type" : "INPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "groupId" : "34060ae0-a60a-37a9-a38b-bca43d7ff661",
              "id" : "a3d080c6-6637-38cd-bafa-4f65b979b13a",
              "instanceIdentifier" : "d6b677da-0194-1000-129c-813fc793c67b",
              "name" : "OutputStaging",
              "type" : "OUTPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "34060ae0-a60a-37a9-a38b-bca43d7ff661",
            "identifier" : "b80b4649-5819-330b-a35b-be35b34429e8",
            "instanceIdentifier" : "d6b68f70-0194-1000-c7d2-e8035ec64c1f",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "34060ae0-a60a-37a9-a38b-bca43d7ff661",
              "id" : "6b6efed6-f6c2-3da5-b391-c09dd2e2ad14",
              "instanceIdentifier" : "d6b5cf60-0194-1000-9f4a-f95ed9c387ba",
              "name" : "UpdateCounter",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "34060ae0-a60a-37a9-a38b-bca43d7ff661",
              "id" : "6b6efed6-f6c2-3da5-b391-c09dd2e2ad14",
              "instanceIdentifier" : "d6b5cf60-0194-1000-9f4a-f95ed9c387ba",
              "name" : "UpdateCounter",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "34060ae0-a60a-37a9-a38b-bca43d7ff661",
            "identifier" : "0c28a331-4549-31db-98cf-b43fa73b1ab8",
            "instanceIdentifier" : "d6b61bcc-0194-1000-a69b-cf55d07c9dd4",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "34060ae0-a60a-37a9-a38b-bca43d7ff661",
              "id" : "2c348b58-b828-352e-a181-da6a3511315e",
              "instanceIdentifier" : "d6a40464-0194-1000-5e76-67edfc8a16c0",
              "name" : "Insert into Staging",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          } ],
          "controllerServices" : [ {
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-dbcp-service-nar",
              "group" : "org.apache.nifi",
              "version" : "1.28.1"
            },
            "comments" : "",
            "componentType" : "CONTROLLER_SERVICE",
            "controllerServiceApis" : [ {
              "bundle" : {
                "artifact" : "nifi-standard-services-api-nar",
                "group" : "org.apache.nifi",
                "version" : "1.28.1"
              },
              "type" : "org.apache.nifi.dbcp.DBCPService"
            } ],
            "groupIdentifier" : "34060ae0-a60a-37a9-a38b-bca43d7ff661",
            "identifier" : "0d4a0600-3bb0-3c00-8781-08e2fe834cc0",
            "instanceIdentifier" : "d6aec1a4-0194-1000-72ab-d7cbd9265d68",
            "name" : "InstertTest",
            "properties" : {
              "dbcp-min-idle-conns" : "0",
              "Max Wait Time" : "500 millis",
              "Database Driver Class Name" : "#{DatabaseDriverClassName}",
              "dbcp-min-evictable-idle-time" : "30 mins",
              "Max Total Connections" : "8",
              "dbcp-max-conn-lifetime" : "-1",
              "Database Connection URL" : "jdbc:postgresql://localhost/#{database}",
              "dbcp-time-between-eviction-runs" : "-1",
              "Database User" : "#{postgres_username}",
              "dbcp-soft-min-evictable-idle-time" : "-1",
              "database-driver-locations" : "#{DatabaseDriverLocation}",
              "dbcp-max-idle-conns" : "8",
              "Password" : "#{postgres_password}"
            },
            "propertyDescriptors" : {
              "kerberos-password" : {
                "displayName" : "Kerberos Password",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "kerberos-password",
                "sensitive" : true
              },
              "dbcp-min-idle-conns" : {
                "displayName" : "Minimum Idle Connections",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "dbcp-min-idle-conns",
                "sensitive" : false
              },
              "Max Wait Time" : {
                "displayName" : "Max Wait Time",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Max Wait Time",
                "sensitive" : false
              },
              "Database Driver Class Name" : {
                "displayName" : "Database Driver Class Name",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Database Driver Class Name",
                "sensitive" : false
              },
              "dbcp-min-evictable-idle-time" : {
                "displayName" : "Minimum Evictable Idle Time",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "dbcp-min-evictable-idle-time",
                "sensitive" : false
              },
              "kerberos-principal" : {
                "displayName" : "Kerberos Principal",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "kerberos-principal",
                "sensitive" : false
              },
              "Max Total Connections" : {
                "displayName" : "Max Total Connections",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Max Total Connections",
                "sensitive" : false
              },
              "kerberos-credentials-service" : {
                "displayName" : "Kerberos Credentials Service",
                "dynamic" : false,
                "identifiesControllerService" : true,
                "name" : "kerberos-credentials-service",
                "sensitive" : false
              },
              "dbcp-max-conn-lifetime" : {
                "displayName" : "Max Connection Lifetime",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "dbcp-max-conn-lifetime",
                "sensitive" : false
              },
              "Validation-query" : {
                "displayName" : "Validation query",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Validation-query",
                "sensitive" : false
              },
              "Database Connection URL" : {
                "displayName" : "Database Connection URL",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Database Connection URL",
                "sensitive" : false
              },
              "dbcp-time-between-eviction-runs" : {
                "displayName" : "Time Between Eviction Runs",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "dbcp-time-between-eviction-runs",
                "sensitive" : false
              },
              "Database User" : {
                "displayName" : "Database User",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Database User",
                "sensitive" : false
              },
              "kerberos-user-service" : {
                "displayName" : "Kerberos User Service",
                "dynamic" : false,
                "identifiesControllerService" : true,
                "name" : "kerberos-user-service",
                "sensitive" : false
              },
              "dbcp-soft-min-evictable-idle-time" : {
                "displayName" : "Soft Minimum Evictable Idle Time",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "dbcp-soft-min-evictable-idle-time",
                "sensitive" : false
              },
              "database-driver-locations" : {
                "displayName" : "Database Driver Location(s)",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "database-driver-locations",
                "resourceDefinition" : {
                  "cardinality" : "MULTIPLE",
                  "resourceTypes" : [ "DIRECTORY", "FILE", "URL" ]
                },
                "sensitive" : false
              },
              "dbcp-max-idle-conns" : {
                "displayName" : "Max Idle Connections",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "dbcp-max-idle-conns",
                "sensitive" : false
              },
              "Password" : {
                "displayName" : "Password",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Password",
                "sensitive" : true
              }
            },
            "scheduledState" : "DISABLED",
            "type" : "org.apache.nifi.dbcp.DBCPConnectionPool"
          } ],
          "defaultBackPressureDataSizeThreshold" : "1 GB",
          "defaultBackPressureObjectThreshold" : 10000,
          "defaultFlowFileExpiration" : "0 sec",
          "flowFileConcurrency" : "UNBOUNDED",
          "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
          "funnels" : [ ],
          "groupIdentifier" : "786f407a-bc3e-3ed4-a3eb-a9e70e5715d6",
          "identifier" : "34060ae0-a60a-37a9-a38b-bca43d7ff661",
          "inputPorts" : [ {
            "allowRemoteAccess" : false,
            "componentType" : "INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "34060ae0-a60a-37a9-a38b-bca43d7ff661",
            "identifier" : "6186407e-1574-3730-868d-5270885ce51e",
            "instanceIdentifier" : "d6a2bd93-0194-1000-2fff-da7d8b774a06",
            "name" : "InputStaging",
            "position" : {
              "x" : -2969.9297400729088,
              "y" : -1403.7689235792147
            },
            "scheduledState" : "ENABLED",
            "type" : "INPUT_PORT"
          } ],
          "instanceIdentifier" : "d6a0d309-0194-1000-9c33-edc84644a4f2",
          "labels" : [ ],
          "logFileSuffix" : "",
          "name" : "InsertStaging",
          "outputPorts" : [ {
            "allowRemoteAccess" : false,
            "componentType" : "OUTPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "34060ae0-a60a-37a9-a38b-bca43d7ff661",
            "identifier" : "a3d080c6-6637-38cd-bafa-4f65b979b13a",
            "instanceIdentifier" : "d6b677da-0194-1000-129c-813fc793c67b",
            "name" : "OutputStaging",
            "position" : {
              "x" : -2904.0,
              "y" : -856.0
            },
            "scheduledState" : "ENABLED",
            "type" : "OUTPUT_PORT"
          } ],
          "parameterContextName" : "DataLakeParams",
          "position" : {
            "x" : -2360.0,
            "y" : -960.0
          },
          "processGroups" : [ ],
          "processors" : [ {
            "autoTerminatedRelationships" : [ "failure", "retry" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.28.1"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "34060ae0-a60a-37a9-a38b-bca43d7ff661",
            "identifier" : "2c348b58-b828-352e-a181-da6a3511315e",
            "instanceIdentifier" : "d6a40464-0194-1000-5e76-67edfc8a16c0",
            "maxBackoffPeriod" : "10 mins",
            "name" : "Insert into Staging",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : -3000.0,
              "y" : -1256.0
            },
            "properties" : {
              "Support Fragmented Transactions" : "false",
              "putsql-sql-statement" : "INSERT INTO staging (userid, name, age, street, city, state, zip)\nVALUES ('${userid}', '${name}', '${age}', '${street}', '${city}', '${state}', '${zip}')\nON CONFLICT (userid) DO UPDATE \nSET name = EXCLUDED.name,\n    age = EXCLUDED.age,\n    street = EXCLUDED.street,\n    city = EXCLUDED.city,\n    state = EXCLUDED.state,\n    zip = EXCLUDED.zip;",
              "Batch Size" : "100",
              "Obtain Generated Keys" : "false",
              "JDBC Connection Pool" : "0d4a0600-3bb0-3c00-8781-08e2fe834cc0",
              "database-session-autocommit" : "false",
              "rollback-on-failure" : "true"
            },
            "propertyDescriptors" : {
              "Support Fragmented Transactions" : {
                "displayName" : "Support Fragmented Transactions",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Support Fragmented Transactions",
                "sensitive" : false
              },
              "putsql-sql-statement" : {
                "displayName" : "SQL Statement",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "putsql-sql-statement",
                "sensitive" : false
              },
              "Transaction Timeout" : {
                "displayName" : "Transaction Timeout",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Transaction Timeout",
                "sensitive" : false
              },
              "Batch Size" : {
                "displayName" : "Batch Size",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Batch Size",
                "sensitive" : false
              },
              "Obtain Generated Keys" : {
                "displayName" : "Obtain Generated Keys",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Obtain Generated Keys",
                "sensitive" : false
              },
              "JDBC Connection Pool" : {
                "displayName" : "JDBC Connection Pool",
                "dynamic" : false,
                "identifiesControllerService" : true,
                "name" : "JDBC Connection Pool",
                "sensitive" : false
              },
              "database-session-autocommit" : {
                "displayName" : "Database Session AutoCommit",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "database-session-autocommit",
                "sensitive" : false
              },
              "rollback-on-failure" : {
                "displayName" : "Rollback On Failure",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "rollback-on-failure",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.PutSQL",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.28.1"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "34060ae0-a60a-37a9-a38b-bca43d7ff661",
            "identifier" : "6b6efed6-f6c2-3da5-b391-c09dd2e2ad14",
            "instanceIdentifier" : "d6b5cf60-0194-1000-9f4a-f95ed9c387ba",
            "maxBackoffPeriod" : "10 mins",
            "name" : "UpdateCounter",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : -2992.0,
              "y" : -1064.0
            },
            "properties" : {
              "counter-name" : "InsertedStaging",
              "delta" : "1"
            },
            "propertyDescriptors" : {
              "counter-name" : {
                "displayName" : "Counter Name",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "counter-name",
                "sensitive" : false
              },
              "delta" : {
                "displayName" : "Delta",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "delta",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.UpdateCounter",
            "yieldDuration" : "1 sec"
          } ],
          "remoteProcessGroups" : [ ]
        }, {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "2f74398a-52db-37e4-8218-c7c3d7843ae0",
              "id" : "9ee1b5d1-77a6-3a51-916c-fe31b3d150ae",
              "instanceIdentifier" : "d6056ea7-0194-1000-76c3-48de567684c4",
              "name" : "EvaluateJsonPath",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "2f74398a-52db-37e4-8218-c7c3d7843ae0",
            "identifier" : "213cf659-2b77-356a-9a66-dcdb713330d0",
            "instanceIdentifier" : "d6059247-0194-1000-fb82-a191079c06a3",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "2f74398a-52db-37e4-8218-c7c3d7843ae0",
              "id" : "82265182-6d92-3a84-a04a-99516dcd251d",
              "instanceIdentifier" : "d5f09075-0194-1000-064b-7542e40773b6",
              "name" : "Read Data Lake",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "2f74398a-52db-37e4-8218-c7c3d7843ae0",
              "id" : "0efc135a-72bb-378f-b587-c68f9a941d35",
              "instanceIdentifier" : "d62ee2db-0194-1000-15a4-a27bff284073",
              "name" : "UpdateCounter",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "2f74398a-52db-37e4-8218-c7c3d7843ae0",
            "identifier" : "f8b01584-b06f-3650-b954-1939dd0d4e27",
            "instanceIdentifier" : "d62fcdbc-0194-1000-66bc-bc8e11c8266f",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "matched" ],
            "source" : {
              "comments" : "",
              "groupId" : "2f74398a-52db-37e4-8218-c7c3d7843ae0",
              "id" : "9ee1b5d1-77a6-3a51-916c-fe31b3d150ae",
              "instanceIdentifier" : "d6056ea7-0194-1000-76c3-48de567684c4",
              "name" : "EvaluateJsonPath",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "groupId" : "2f74398a-52db-37e4-8218-c7c3d7843ae0",
              "id" : "8e9e132c-e479-33cd-9493-8d7142e0fe8f",
              "instanceIdentifier" : "d63485ed-0194-1000-9cc7-f3af8f978a67",
              "name" : "OutputDataLake",
              "type" : "OUTPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "2f74398a-52db-37e4-8218-c7c3d7843ae0",
            "identifier" : "ba472d6f-0608-3e4b-b5f4-98218fd036b3",
            "instanceIdentifier" : "d63499d1-0194-1000-0fae-190e4787f91e",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "2f74398a-52db-37e4-8218-c7c3d7843ae0",
              "id" : "0efc135a-72bb-378f-b587-c68f9a941d35",
              "instanceIdentifier" : "d62ee2db-0194-1000-15a4-a27bff284073",
              "name" : "UpdateCounter",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          } ],
          "controllerServices" : [ ],
          "defaultBackPressureDataSizeThreshold" : "1 GB",
          "defaultBackPressureObjectThreshold" : 10000,
          "defaultFlowFileExpiration" : "0 sec",
          "flowFileConcurrency" : "UNBOUNDED",
          "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
          "funnels" : [ ],
          "groupIdentifier" : "786f407a-bc3e-3ed4-a3eb-a9e70e5715d6",
          "identifier" : "2f74398a-52db-37e4-8218-c7c3d7843ae0",
          "inputPorts" : [ ],
          "instanceIdentifier" : "d5efd882-0194-1000-3b23-836742dd40fc",
          "labels" : [ ],
          "name" : "ReadDataLake",
          "outputPorts" : [ {
            "allowRemoteAccess" : false,
            "componentType" : "OUTPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "2f74398a-52db-37e4-8218-c7c3d7843ae0",
            "identifier" : "8e9e132c-e479-33cd-9493-8d7142e0fe8f",
            "instanceIdentifier" : "d63485ed-0194-1000-9cc7-f3af8f978a67",
            "name" : "OutputDataLake",
            "position" : {
              "x" : -2904.0,
              "y" : -648.0
            },
            "scheduledState" : "ENABLED",
            "type" : "OUTPUT_PORT"
          } ],
          "position" : {
            "x" : -3000.0,
            "y" : -1264.0
          },
          "processGroups" : [ ],
          "processors" : [ {
            "autoTerminatedRelationships" : [ "failure", "unmatched" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.28.1"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "2f74398a-52db-37e4-8218-c7c3d7843ae0",
            "identifier" : "9ee1b5d1-77a6-3a51-916c-fe31b3d150ae",
            "instanceIdentifier" : "d6056ea7-0194-1000-76c3-48de567684c4",
            "maxBackoffPeriod" : "10 mins",
            "name" : "EvaluateJsonPath",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : -2936.0,
              "y" : -1096.0
            },
            "properties" : {
              "zip" : "$.zip",
              "Destination" : "flowfile-attribute",
              "Max String Length" : "20 MB",
              "city" : "$.city",
              "street" : "$.street",
              "Return Type" : "auto-detect",
              "name" : "$.name",
              "Null Value Representation" : "empty string",
              "state" : "$.state",
              "userid" : "$.userid",
              "age" : "$.age",
              "Path Not Found Behavior" : "ignore"
            },
            "propertyDescriptors" : {
              "zip" : {
                "displayName" : "zip",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "zip",
                "sensitive" : false
              },
              "Destination" : {
                "displayName" : "Destination",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Destination",
                "sensitive" : false
              },
              "Max String Length" : {
                "displayName" : "Max String Length",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Max String Length",
                "sensitive" : false
              },
              "city" : {
                "displayName" : "city",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "city",
                "sensitive" : false
              },
              "street" : {
                "displayName" : "street",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "street",
                "sensitive" : false
              },
              "Return Type" : {
                "displayName" : "Return Type",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Return Type",
                "sensitive" : false
              },
              "name" : {
                "displayName" : "name",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "name",
                "sensitive" : false
              },
              "Null Value Representation" : {
                "displayName" : "Null Value Representation",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Null Value Representation",
                "sensitive" : false
              },
              "state" : {
                "displayName" : "state",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "state",
                "sensitive" : false
              },
              "userid" : {
                "displayName" : "userid",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "userid",
                "sensitive" : false
              },
              "age" : {
                "displayName" : "age",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "age",
                "sensitive" : false
              },
              "Path Not Found Behavior" : {
                "displayName" : "Path Not Found Behavior",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Path Not Found Behavior",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.28.1"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "2f74398a-52db-37e4-8218-c7c3d7843ae0",
            "identifier" : "82265182-6d92-3a84-a04a-99516dcd251d",
            "instanceIdentifier" : "d5f09075-0194-1000-064b-7542e40773b6",
            "maxBackoffPeriod" : "10 mins",
            "name" : "Read Data Lake",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : -2944.0,
              "y" : -1312.0
            },
            "properties" : {
              "Keep Source File" : "false",
              "Minimum File Age" : "0 sec",
              "Polling Interval" : "0 sec",
              "Input Directory" : "/home/vfilip/datalake",
              "Batch Size" : "10",
              "Minimum File Size" : "0 B",
              "Ignore Hidden Files" : "true",
              "Recurse Subdirectories" : "true",
              "File Filter" : "^.*\\.([jJ][sS][oO][nN])$"
            },
            "propertyDescriptors" : {
              "Keep Source File" : {
                "displayName" : "Keep Source File",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Keep Source File",
                "sensitive" : false
              },
              "Minimum File Age" : {
                "displayName" : "Minimum File Age",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Minimum File Age",
                "sensitive" : false
              },
              "Polling Interval" : {
                "displayName" : "Polling Interval",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Polling Interval",
                "sensitive" : false
              },
              "Input Directory" : {
                "displayName" : "Input Directory",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Input Directory",
                "sensitive" : false
              },
              "Maximum File Age" : {
                "displayName" : "Maximum File Age",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Maximum File Age",
                "sensitive" : false
              },
              "Batch Size" : {
                "displayName" : "Batch Size",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Batch Size",
                "sensitive" : false
              },
              "Maximum File Size" : {
                "displayName" : "Maximum File Size",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Maximum File Size",
                "sensitive" : false
              },
              "Minimum File Size" : {
                "displayName" : "Minimum File Size",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Minimum File Size",
                "sensitive" : false
              },
              "Ignore Hidden Files" : {
                "displayName" : "Ignore Hidden Files",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Ignore Hidden Files",
                "sensitive" : false
              },
              "Recurse Subdirectories" : {
                "displayName" : "Recurse Subdirectories",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Recurse Subdirectories",
                "sensitive" : false
              },
              "File Filter" : {
                "displayName" : "File Filter",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "File Filter",
                "sensitive" : false
              },
              "Path Filter" : {
                "displayName" : "Path Filter",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Path Filter",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "1 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.GetFile",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.28.1"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "2f74398a-52db-37e4-8218-c7c3d7843ae0",
            "identifier" : "0efc135a-72bb-378f-b587-c68f9a941d35",
            "instanceIdentifier" : "d62ee2db-0194-1000-15a4-a27bff284073",
            "maxBackoffPeriod" : "10 mins",
            "name" : "UpdateCounter",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : -2944.0,
              "y" : -864.0
            },
            "properties" : {
              "counter-name" : "dataLakeRecordsProcessed",
              "delta" : "1"
            },
            "propertyDescriptors" : {
              "counter-name" : {
                "displayName" : "Counter Name",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "counter-name",
                "sensitive" : false
              },
              "delta" : {
                "displayName" : "Delta",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "delta",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.UpdateCounter",
            "yieldDuration" : "1 sec"
          } ],
          "remoteProcessGroups" : [ ]
        }, {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "7ec30718-850e-3b2b-87f9-01498921ddf5",
              "id" : "21b40cba-2488-304b-8317-6fb41ced2dd4",
              "instanceIdentifier" : "d6619c5c-0194-1000-8d3f-dbc990144b97",
              "name" : "UpdateCounter",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "7ec30718-850e-3b2b-87f9-01498921ddf5",
            "identifier" : "9b0846f7-3c2d-3a14-b93f-d7d0478fb556",
            "instanceIdentifier" : "d661c873-0194-1000-e31c-86c6630ddd41",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "matched" ],
            "source" : {
              "comments" : "",
              "groupId" : "7ec30718-850e-3b2b-87f9-01498921ddf5",
              "id" : "02223fa1-6deb-35ce-b1e2-fbf7788cc37f",
              "instanceIdentifier" : "d64afcb5-0194-1000-1c88-a636a22c1dce",
              "name" : "ScanContent",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "7ec30718-850e-3b2b-87f9-01498921ddf5",
              "id" : "5398f62d-b0ee-33d2-8344-ee00542c23d4",
              "instanceIdentifier" : "d65a82aa-0194-1000-f812-939911da2b28",
              "name" : "PutSlack",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "7ec30718-850e-3b2b-87f9-01498921ddf5",
            "identifier" : "5069762c-b03b-3d4e-a150-a43f30dc3d2b",
            "instanceIdentifier" : "d661d583-0194-1000-ce7a-e4374c8ad28b",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "7ec30718-850e-3b2b-87f9-01498921ddf5",
              "id" : "21b40cba-2488-304b-8317-6fb41ced2dd4",
              "instanceIdentifier" : "d6619c5c-0194-1000-8d3f-dbc990144b97",
              "name" : "UpdateCounter",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "7ec30718-850e-3b2b-87f9-01498921ddf5",
              "id" : "02223fa1-6deb-35ce-b1e2-fbf7788cc37f",
              "instanceIdentifier" : "d64afcb5-0194-1000-1c88-a636a22c1dce",
              "name" : "ScanContent",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "7ec30718-850e-3b2b-87f9-01498921ddf5",
            "identifier" : "112f2ac5-b4d0-33ac-b496-5e0345bdfda3",
            "instanceIdentifier" : "d64b2b54-0194-1000-0a38-6fe4a30c5374",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "7ec30718-850e-3b2b-87f9-01498921ddf5",
              "id" : "708e5279-2f45-38cf-989d-534756684351",
              "instanceIdentifier" : "d64a2e2c-0194-1000-e189-3d8a02c4f008",
              "name" : "InputScanning",
              "type" : "INPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "groupId" : "7ec30718-850e-3b2b-87f9-01498921ddf5",
              "id" : "06257111-4fbd-3242-87fe-4f8407dd96d1",
              "instanceIdentifier" : "d660140c-0194-1000-3d65-706efebc245b",
              "name" : "OutputScanned",
              "type" : "OUTPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "7ec30718-850e-3b2b-87f9-01498921ddf5",
            "identifier" : "c3ed8c1e-8c0e-36d4-a6b8-a924baddc07e",
            "instanceIdentifier" : "d660350b-0194-1000-6fe0-eae7cbca40cd",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "matched", "unmatched" ],
            "source" : {
              "comments" : "",
              "groupId" : "7ec30718-850e-3b2b-87f9-01498921ddf5",
              "id" : "02223fa1-6deb-35ce-b1e2-fbf7788cc37f",
              "instanceIdentifier" : "d64afcb5-0194-1000-1c88-a636a22c1dce",
              "name" : "ScanContent",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          } ],
          "controllerServices" : [ ],
          "defaultBackPressureDataSizeThreshold" : "1 GB",
          "defaultBackPressureObjectThreshold" : 10000,
          "defaultFlowFileExpiration" : "0 sec",
          "flowFileConcurrency" : "UNBOUNDED",
          "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
          "funnels" : [ ],
          "groupIdentifier" : "786f407a-bc3e-3ed4-a3eb-a9e70e5715d6",
          "identifier" : "7ec30718-850e-3b2b-87f9-01498921ddf5",
          "inputPorts" : [ {
            "allowRemoteAccess" : false,
            "comments" : "",
            "componentType" : "INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "7ec30718-850e-3b2b-87f9-01498921ddf5",
            "identifier" : "708e5279-2f45-38cf-989d-534756684351",
            "instanceIdentifier" : "d64a2e2c-0194-1000-e189-3d8a02c4f008",
            "name" : "InputScanning",
            "position" : {
              "x" : -2736.0,
              "y" : -1448.0
            },
            "scheduledState" : "ENABLED",
            "type" : "INPUT_PORT"
          } ],
          "instanceIdentifier" : "d64989d7-0194-1000-6cd4-18f8d8baa72c",
          "labels" : [ ],
          "logFileSuffix" : "",
          "name" : "ScanLake",
          "outputPorts" : [ {
            "allowRemoteAccess" : false,
            "componentType" : "OUTPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "7ec30718-850e-3b2b-87f9-01498921ddf5",
            "identifier" : "06257111-4fbd-3242-87fe-4f8407dd96d1",
            "instanceIdentifier" : "d660140c-0194-1000-3d65-706efebc245b",
            "name" : "OutputScanned",
            "position" : {
              "x" : -2264.0,
              "y" : -1064.0
            },
            "scheduledState" : "ENABLED",
            "type" : "OUTPUT_PORT"
          } ],
          "parameterContextName" : "DataLakeParams",
          "position" : {
            "x" : -2368.0,
            "y" : -1264.0
          },
          "processGroups" : [ ],
          "processors" : [ {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.28.1"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "7ec30718-850e-3b2b-87f9-01498921ddf5",
            "identifier" : "02223fa1-6deb-35ce-b1e2-fbf7788cc37f",
            "instanceIdentifier" : "d64afcb5-0194-1000-1c88-a636a22c1dce",
            "maxBackoffPeriod" : "10 mins",
            "name" : "ScanContent",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : -2752.0,
              "y" : -1272.0
            },
            "properties" : {
              "Dictionary Encoding" : "text",
              "Dictionary File" : "/home/vfilip/Documents/data_engineering/Programming4DataEngineering/CrickarDataEngPython/chapter_11/data.txt"
            },
            "propertyDescriptors" : {
              "Dictionary Encoding" : {
                "displayName" : "Dictionary Encoding",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Dictionary Encoding",
                "sensitive" : false
              },
              "Dictionary File" : {
                "displayName" : "Dictionary File",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Dictionary File",
                "resourceDefinition" : {
                  "cardinality" : "SINGLE",
                  "resourceTypes" : [ "FILE" ]
                },
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.ScanContent",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "success", "failure" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-slack-nar",
              "group" : "org.apache.nifi",
              "version" : "1.28.1"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "7ec30718-850e-3b2b-87f9-01498921ddf5",
            "identifier" : "5398f62d-b0ee-33d2-8344-ee00542c23d4",
            "instanceIdentifier" : "d65a82aa-0194-1000-f812-939911da2b28",
            "maxBackoffPeriod" : "10 mins",
            "name" : "PutSlack",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : -2744.0,
              "y" : -760.0
            },
            "properties" : {
              "icon-emoji" : ":robot_face:",
              "webhook-url" : "#{SlackWebhookURL}",
              "webhook-text" : "Alert: VIP customer detected in Data Lake - ${name}",
              "channel" : "#studying-data-engineering",
              "username" : "NiFi Bot"
            },
            "propertyDescriptors" : {
              "icon-emoji" : {
                "displayName" : "Icon Emoji",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "icon-emoji",
                "sensitive" : false
              },
              "SSL Context Service" : {
                "displayName" : "SSL Context Service",
                "dynamic" : false,
                "identifiesControllerService" : true,
                "name" : "SSL Context Service",
                "sensitive" : false
              },
              "webhook-url" : {
                "displayName" : "Webhook URL",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "webhook-url",
                "sensitive" : true
              },
              "webhook-text" : {
                "displayName" : "Webhook Text",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "webhook-text",
                "sensitive" : false
              },
              "channel" : {
                "displayName" : "Channel",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "channel",
                "sensitive" : false
              },
              "icon-url" : {
                "displayName" : "Icon URL",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "icon-url",
                "sensitive" : false
              },
              "username" : {
                "displayName" : "Username",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "username",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.slack.PutSlack",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.28.1"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "7ec30718-850e-3b2b-87f9-01498921ddf5",
            "identifier" : "21b40cba-2488-304b-8317-6fb41ced2dd4",
            "instanceIdentifier" : "d6619c5c-0194-1000-8d3f-dbc990144b97",
            "maxBackoffPeriod" : "10 mins",
            "name" : "UpdateCounter",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : -2744.0,
              "y" : -992.0
            },
            "properties" : {
              "counter-name" : "VIPcustomerOccurences",
              "delta" : "1"
            },
            "propertyDescriptors" : {
              "counter-name" : {
                "displayName" : "Counter Name",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "counter-name",
                "sensitive" : false
              },
              "delta" : {
                "displayName" : "Delta",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "delta",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.UpdateCounter",
            "yieldDuration" : "1 sec"
          } ],
          "remoteProcessGroups" : [ ]
        }, {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "3517f591-88c3-3dcc-8cb7-9eb20f90bbd5",
              "id" : "0cf70425-312b-3f13-9fe6-dad7e725db4e",
              "instanceIdentifier" : "32d4329e-c038-1da3-4711-706bdd7eb63f",
              "name" : "SplitText",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "3517f591-88c3-3dcc-8cb7-9eb20f90bbd5",
            "identifier" : "d04f2361-49e9-3593-8245-e196b6f83c95",
            "instanceIdentifier" : "32d4329f-c038-1da3-c921-793b02a054eb",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "3517f591-88c3-3dcc-8cb7-9eb20f90bbd5",
              "id" : "275017eb-d98f-3529-afad-a9e102eea378",
              "instanceIdentifier" : "32d4329a-c038-1da3-ff38-8aa40e8310b8",
              "name" : "Query Staging to Insert Warehouse",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "3517f591-88c3-3dcc-8cb7-9eb20f90bbd5",
              "id" : "5e7cfb22-39a5-3860-b9ca-254ca716d152",
              "instanceIdentifier" : "32d432aa-c038-1da3-db30-8ff3ac8e7323",
              "name" : "UpdateCounter",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "3517f591-88c3-3dcc-8cb7-9eb20f90bbd5",
            "identifier" : "c9ef11c5-c538-35ed-99c0-faa9f40938bd",
            "instanceIdentifier" : "32d432ab-c038-1da3-ce2f-551af20ab03a",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "3517f591-88c3-3dcc-8cb7-9eb20f90bbd5",
              "id" : "cca2a53c-a223-3f6e-b3df-64534fcef1ab",
              "instanceIdentifier" : "32d432a6-c038-1da3-15e3-f11a013d7034",
              "name" : "Insert into Warehouse",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "3517f591-88c3-3dcc-8cb7-9eb20f90bbd5",
              "id" : "275017eb-d98f-3529-afad-a9e102eea378",
              "instanceIdentifier" : "32d4329a-c038-1da3-ff38-8aa40e8310b8",
              "name" : "Query Staging to Insert Warehouse",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "3517f591-88c3-3dcc-8cb7-9eb20f90bbd5",
            "identifier" : "00fbd83f-90c2-3115-bce8-f7ee73f5a33c",
            "instanceIdentifier" : "32d4329c-c038-1da3-6246-55ae461c6864",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "groupId" : "3517f591-88c3-3dcc-8cb7-9eb20f90bbd5",
              "id" : "4a84cabe-a3e1-3255-a7a9-35f1ec461e4d",
              "instanceIdentifier" : "32d43297-c038-1da3-1059-0c994078cca7",
              "name" : "InputWarehouse",
              "type" : "INPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "3517f591-88c3-3dcc-8cb7-9eb20f90bbd5",
              "id" : "d7a0cc03-faa1-384b-84d4-24ff77205313",
              "instanceIdentifier" : "32d432a3-c038-1da3-bfe2-9664ba8c5e31",
              "name" : "EvaluateJsonPath",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "3517f591-88c3-3dcc-8cb7-9eb20f90bbd5",
            "identifier" : "e1484d76-4dba-33d8-8cb7-a470b2df523e",
            "instanceIdentifier" : "32d432a4-c038-1da3-692b-14d86ba77fea",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "splits" ],
            "source" : {
              "comments" : "",
              "groupId" : "3517f591-88c3-3dcc-8cb7-9eb20f90bbd5",
              "id" : "0cf70425-312b-3f13-9fe6-dad7e725db4e",
              "instanceIdentifier" : "32d4329e-c038-1da3-4711-706bdd7eb63f",
              "name" : "SplitText",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "3517f591-88c3-3dcc-8cb7-9eb20f90bbd5",
              "id" : "cca2a53c-a223-3f6e-b3df-64534fcef1ab",
              "instanceIdentifier" : "32d432a6-c038-1da3-15e3-f11a013d7034",
              "name" : "Insert into Warehouse",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "3517f591-88c3-3dcc-8cb7-9eb20f90bbd5",
            "identifier" : "207671fe-ff9a-318d-a158-e2471c2f2ebb",
            "instanceIdentifier" : "32d432a7-c038-1da3-d0ee-a53545c66511",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "matched" ],
            "source" : {
              "comments" : "",
              "groupId" : "3517f591-88c3-3dcc-8cb7-9eb20f90bbd5",
              "id" : "d7a0cc03-faa1-384b-84d4-24ff77205313",
              "instanceIdentifier" : "32d432a3-c038-1da3-bfe2-9664ba8c5e31",
              "name" : "EvaluateJsonPath",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          } ],
          "controllerServices" : [ {
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-record-serialization-services-nar",
              "group" : "org.apache.nifi",
              "version" : "1.28.1"
            },
            "comments" : "",
            "componentType" : "CONTROLLER_SERVICE",
            "controllerServiceApis" : [ {
              "bundle" : {
                "artifact" : "nifi-standard-services-api-nar",
                "group" : "org.apache.nifi",
                "version" : "1.28.1"
              },
              "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
            } ],
            "groupIdentifier" : "3517f591-88c3-3dcc-8cb7-9eb20f90bbd5",
            "identifier" : "ebe52643-61d5-38a7-abd4-94522c6ae59e",
            "instanceIdentifier" : "32d4329d-c038-1da3-227a-1586db53e6b0",
            "name" : "JsonRecordSetWriterQueryStaging",
            "properties" : {
              "Allow Scientific Notation" : "true",
              "compression-level" : "1",
              "Pretty Print JSON" : "false",
              "compression-format" : "none",
              "Schema Write Strategy" : "no-schema",
              "suppress-nulls" : "never-suppress",
              "output-grouping" : "output-oneline",
              "schema-name" : "${schema.name}",
              "schema-access-strategy" : "inherit-record-schema",
              "schema-protocol-version" : "1",
              "schema-text" : "${avro.schema}"
            },
            "propertyDescriptors" : {
              "schema-branch" : {
                "displayName" : "Schema Branch",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "schema-branch",
                "sensitive" : false
              },
              "Allow Scientific Notation" : {
                "displayName" : "Allow Scientific Notation",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Allow Scientific Notation",
                "sensitive" : false
              },
              "compression-level" : {
                "displayName" : "Compression Level",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "compression-level",
                "sensitive" : false
              },
              "schema-cache" : {
                "displayName" : "Schema Cache",
                "dynamic" : false,
                "identifiesControllerService" : true,
                "name" : "schema-cache",
                "sensitive" : false
              },
              "Timestamp Format" : {
                "displayName" : "Timestamp Format",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Timestamp Format",
                "sensitive" : false
              },
              "Date Format" : {
                "displayName" : "Date Format",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Date Format",
                "sensitive" : false
              },
              "Pretty Print JSON" : {
                "displayName" : "Pretty Print JSON",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Pretty Print JSON",
                "sensitive" : false
              },
              "compression-format" : {
                "displayName" : "Compression Format",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "compression-format",
                "sensitive" : false
              },
              "Schema Write Strategy" : {
                "displayName" : "Schema Write Strategy",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Schema Write Strategy",
                "sensitive" : false
              },
              "suppress-nulls" : {
                "displayName" : "Suppress Null Values",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "suppress-nulls",
                "sensitive" : false
              },
              "output-grouping" : {
                "displayName" : "Output Grouping",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "output-grouping",
                "sensitive" : false
              },
              "schema-name" : {
                "displayName" : "Schema Name",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "schema-name",
                "sensitive" : false
              },
              "schema-registry" : {
                "displayName" : "Schema Registry",
                "dynamic" : false,
                "identifiesControllerService" : true,
                "name" : "schema-registry",
                "sensitive" : false
              },
              "Time Format" : {
                "displayName" : "Time Format",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Time Format",
                "sensitive" : false
              },
              "schema-access-strategy" : {
                "displayName" : "Schema Access Strategy",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "schema-access-strategy",
                "sensitive" : false
              },
              "schema-protocol-version" : {
                "displayName" : "Schema Protocol Version",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "schema-protocol-version",
                "sensitive" : false
              },
              "schema-version" : {
                "displayName" : "Schema Version",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "schema-version",
                "sensitive" : false
              },
              "schema-text" : {
                "displayName" : "Schema Text",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "schema-text",
                "sensitive" : false
              }
            },
            "scheduledState" : "DISABLED",
            "type" : "org.apache.nifi.json.JsonRecordSetWriter"
          }, {
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-dbcp-service-nar",
              "group" : "org.apache.nifi",
              "version" : "1.28.1"
            },
            "comments" : "",
            "componentType" : "CONTROLLER_SERVICE",
            "controllerServiceApis" : [ {
              "bundle" : {
                "artifact" : "nifi-standard-services-api-nar",
                "group" : "org.apache.nifi",
                "version" : "1.28.1"
              },
              "type" : "org.apache.nifi.dbcp.DBCPService"
            } ],
            "groupIdentifier" : "3517f591-88c3-3dcc-8cb7-9eb20f90bbd5",
            "identifier" : "ef45ab74-4478-3964-9a4e-00f01f8f672a",
            "instanceIdentifier" : "32d4329b-c038-1da3-f97f-26445ef1f604",
            "name" : "DBCPConnectionPool_QueryStaging",
            "properties" : {
              "dbcp-min-idle-conns" : "0",
              "Max Wait Time" : "500 millis",
              "Database Driver Class Name" : "#{DatabaseDriverClassName}",
              "dbcp-min-evictable-idle-time" : "30 mins",
              "Max Total Connections" : "8",
              "dbcp-max-conn-lifetime" : "-1",
              "Database Connection URL" : "jdbc:postgresql://localhost/#{database}",
              "dbcp-time-between-eviction-runs" : "-1",
              "Database User" : "#{postgres_username}",
              "dbcp-soft-min-evictable-idle-time" : "-1",
              "database-driver-locations" : "#{DatabaseDriverLocation}",
              "dbcp-max-idle-conns" : "8",
              "Password" : "#{postgres_password}"
            },
            "propertyDescriptors" : {
              "kerberos-password" : {
                "displayName" : "Kerberos Password",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "kerberos-password",
                "sensitive" : true
              },
              "dbcp-min-idle-conns" : {
                "displayName" : "Minimum Idle Connections",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "dbcp-min-idle-conns",
                "sensitive" : false
              },
              "Max Wait Time" : {
                "displayName" : "Max Wait Time",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Max Wait Time",
                "sensitive" : false
              },
              "Database Driver Class Name" : {
                "displayName" : "Database Driver Class Name",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Database Driver Class Name",
                "sensitive" : false
              },
              "dbcp-min-evictable-idle-time" : {
                "displayName" : "Minimum Evictable Idle Time",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "dbcp-min-evictable-idle-time",
                "sensitive" : false
              },
              "kerberos-principal" : {
                "displayName" : "Kerberos Principal",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "kerberos-principal",
                "sensitive" : false
              },
              "Max Total Connections" : {
                "displayName" : "Max Total Connections",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Max Total Connections",
                "sensitive" : false
              },
              "kerberos-credentials-service" : {
                "displayName" : "Kerberos Credentials Service",
                "dynamic" : false,
                "identifiesControllerService" : true,
                "name" : "kerberos-credentials-service",
                "sensitive" : false
              },
              "dbcp-max-conn-lifetime" : {
                "displayName" : "Max Connection Lifetime",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "dbcp-max-conn-lifetime",
                "sensitive" : false
              },
              "Validation-query" : {
                "displayName" : "Validation query",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Validation-query",
                "sensitive" : false
              },
              "Database Connection URL" : {
                "displayName" : "Database Connection URL",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Database Connection URL",
                "sensitive" : false
              },
              "dbcp-time-between-eviction-runs" : {
                "displayName" : "Time Between Eviction Runs",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "dbcp-time-between-eviction-runs",
                "sensitive" : false
              },
              "Database User" : {
                "displayName" : "Database User",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Database User",
                "sensitive" : false
              },
              "kerberos-user-service" : {
                "displayName" : "Kerberos User Service",
                "dynamic" : false,
                "identifiesControllerService" : true,
                "name" : "kerberos-user-service",
                "sensitive" : false
              },
              "dbcp-soft-min-evictable-idle-time" : {
                "displayName" : "Soft Minimum Evictable Idle Time",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "dbcp-soft-min-evictable-idle-time",
                "sensitive" : false
              },
              "database-driver-locations" : {
                "displayName" : "Database Driver Location(s)",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "database-driver-locations",
                "resourceDefinition" : {
                  "cardinality" : "MULTIPLE",
                  "resourceTypes" : [ "DIRECTORY", "FILE", "URL" ]
                },
                "sensitive" : false
              },
              "dbcp-max-idle-conns" : {
                "displayName" : "Max Idle Connections",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "dbcp-max-idle-conns",
                "sensitive" : false
              },
              "Password" : {
                "displayName" : "Password",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Password",
                "sensitive" : true
              }
            },
            "scheduledState" : "DISABLED",
            "type" : "org.apache.nifi.dbcp.DBCPConnectionPool"
          } ],
          "defaultBackPressureDataSizeThreshold" : "1 GB",
          "defaultBackPressureObjectThreshold" : 10000,
          "defaultFlowFileExpiration" : "0 sec",
          "flowFileConcurrency" : "UNBOUNDED",
          "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
          "funnels" : [ ],
          "groupIdentifier" : "786f407a-bc3e-3ed4-a3eb-a9e70e5715d6",
          "identifier" : "3517f591-88c3-3dcc-8cb7-9eb20f90bbd5",
          "inputPorts" : [ {
            "allowRemoteAccess" : false,
            "componentType" : "INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "3517f591-88c3-3dcc-8cb7-9eb20f90bbd5",
            "identifier" : "4a84cabe-a3e1-3255-a7a9-35f1ec461e4d",
            "instanceIdentifier" : "32d43297-c038-1da3-1059-0c994078cca7",
            "name" : "InputWarehouse",
            "position" : {
              "x" : -2952.0,
              "y" : -1424.0
            },
            "scheduledState" : "ENABLED",
            "type" : "INPUT_PORT"
          } ],
          "instanceIdentifier" : "32d43296-c038-1da3-6546-acf177a0b122",
          "labels" : [ ],
          "logFileSuffix" : "",
          "name" : "InsertWarehouse",
          "outputPorts" : [ ],
          "parameterContextName" : "DataLakeParams",
          "position" : {
            "x" : -2368.0,
            "y" : -672.0
          },
          "processGroups" : [ ],
          "processors" : [ {
            "autoTerminatedRelationships" : [ "original", "failure" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.28.1"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "3517f591-88c3-3dcc-8cb7-9eb20f90bbd5",
            "identifier" : "0cf70425-312b-3f13-9fe6-dad7e725db4e",
            "instanceIdentifier" : "32d4329e-c038-1da3-4711-706bdd7eb63f",
            "maxBackoffPeriod" : "10 mins",
            "name" : "SplitText",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : -3008.0,
              "y" : -1064.0
            },
            "properties" : {
              "Remove Trailing Newlines" : "true",
              "Header Line Count" : "0",
              "Line Split Count" : "1"
            },
            "propertyDescriptors" : {
              "Remove Trailing Newlines" : {
                "displayName" : "Remove Trailing Newlines",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Remove Trailing Newlines",
                "sensitive" : false
              },
              "Maximum Fragment Size" : {
                "displayName" : "Maximum Fragment Size",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Maximum Fragment Size",
                "sensitive" : false
              },
              "Header Line Marker Characters" : {
                "displayName" : "Header Line Marker Characters",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Header Line Marker Characters",
                "sensitive" : false
              },
              "Header Line Count" : {
                "displayName" : "Header Line Count",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Header Line Count",
                "sensitive" : false
              },
              "Line Split Count" : {
                "displayName" : "Line Split Count",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Line Split Count",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.SplitText",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure", "retry" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.28.1"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "3517f591-88c3-3dcc-8cb7-9eb20f90bbd5",
            "identifier" : "cca2a53c-a223-3f6e-b3df-64534fcef1ab",
            "instanceIdentifier" : "32d432a6-c038-1da3-15e3-f11a013d7034",
            "maxBackoffPeriod" : "10 mins",
            "name" : "Insert into Warehouse",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : -2992.0,
              "y" : -672.0
            },
            "properties" : {
              "Support Fragmented Transactions" : "false",
              "putsql-sql-statement" : "INSERT INTO warehouse (userid, name, age, street, city, state, zip)\nVALUES ('${userid}', '${name}', '${age}', '${street}', '${city}', '${state}', '${zip}')\nON CONFLICT (userid) DO UPDATE \nSET name = EXCLUDED.name,\n    age = EXCLUDED.age,\n    street = EXCLUDED.street,\n    city = EXCLUDED.city,\n    state = EXCLUDED.state,\n    zip = EXCLUDED.zip;",
              "Batch Size" : "100",
              "Obtain Generated Keys" : "false",
              "JDBC Connection Pool" : "ef45ab74-4478-3964-9a4e-00f01f8f672a",
              "database-session-autocommit" : "false",
              "rollback-on-failure" : "true"
            },
            "propertyDescriptors" : {
              "Support Fragmented Transactions" : {
                "displayName" : "Support Fragmented Transactions",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Support Fragmented Transactions",
                "sensitive" : false
              },
              "putsql-sql-statement" : {
                "displayName" : "SQL Statement",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "putsql-sql-statement",
                "sensitive" : false
              },
              "Transaction Timeout" : {
                "displayName" : "Transaction Timeout",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Transaction Timeout",
                "sensitive" : false
              },
              "Batch Size" : {
                "displayName" : "Batch Size",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Batch Size",
                "sensitive" : false
              },
              "Obtain Generated Keys" : {
                "displayName" : "Obtain Generated Keys",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Obtain Generated Keys",
                "sensitive" : false
              },
              "JDBC Connection Pool" : {
                "displayName" : "JDBC Connection Pool",
                "dynamic" : false,
                "identifiesControllerService" : true,
                "name" : "JDBC Connection Pool",
                "sensitive" : false
              },
              "database-session-autocommit" : {
                "displayName" : "Database Session AutoCommit",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "database-session-autocommit",
                "sensitive" : false
              },
              "rollback-on-failure" : {
                "displayName" : "Rollback On Failure",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "rollback-on-failure",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.PutSQL",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure", "unmatched" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.28.1"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "3517f591-88c3-3dcc-8cb7-9eb20f90bbd5",
            "identifier" : "d7a0cc03-faa1-384b-84d4-24ff77205313",
            "instanceIdentifier" : "32d432a3-c038-1da3-bfe2-9664ba8c5e31",
            "maxBackoffPeriod" : "10 mins",
            "name" : "EvaluateJsonPath",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : -3000.0,
              "y" : -872.0
            },
            "properties" : {
              "zip" : "$.zip",
              "Destination" : "flowfile-attribute",
              "Max String Length" : "20 MB",
              "city" : "$.city",
              "street" : "$.street",
              "Return Type" : "auto-detect",
              "name" : "$.name",
              "Null Value Representation" : "empty string",
              "state" : "$.state",
              "userid" : "$.userid",
              "age" : "$.age",
              "Path Not Found Behavior" : "ignore"
            },
            "propertyDescriptors" : {
              "zip" : {
                "displayName" : "zip",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "zip",
                "sensitive" : false
              },
              "Destination" : {
                "displayName" : "Destination",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Destination",
                "sensitive" : false
              },
              "Max String Length" : {
                "displayName" : "Max String Length",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Max String Length",
                "sensitive" : false
              },
              "city" : {
                "displayName" : "city",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "city",
                "sensitive" : false
              },
              "street" : {
                "displayName" : "street",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "street",
                "sensitive" : false
              },
              "Return Type" : {
                "displayName" : "Return Type",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Return Type",
                "sensitive" : false
              },
              "name" : {
                "displayName" : "name",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "name",
                "sensitive" : false
              },
              "Null Value Representation" : {
                "displayName" : "Null Value Representation",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Null Value Representation",
                "sensitive" : false
              },
              "state" : {
                "displayName" : "state",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "state",
                "sensitive" : false
              },
              "userid" : {
                "displayName" : "userid",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "userid",
                "sensitive" : false
              },
              "age" : {
                "displayName" : "age",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "age",
                "sensitive" : false
              },
              "Path Not Found Behavior" : {
                "displayName" : "Path Not Found Behavior",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Path Not Found Behavior",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "success" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.28.1"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "3517f591-88c3-3dcc-8cb7-9eb20f90bbd5",
            "identifier" : "5e7cfb22-39a5-3860-b9ca-254ca716d152",
            "instanceIdentifier" : "32d432aa-c038-1da3-db30-8ff3ac8e7323",
            "maxBackoffPeriod" : "10 mins",
            "name" : "UpdateCounter",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : -2512.0,
              "y" : -872.0
            },
            "properties" : {
              "counter-name" : "InsertedWarehouse",
              "delta" : "1"
            },
            "propertyDescriptors" : {
              "counter-name" : {
                "displayName" : "Counter Name",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "counter-name",
                "sensitive" : false
              },
              "delta" : {
                "displayName" : "Delta",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "delta",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.UpdateCounter",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.28.1"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "3517f591-88c3-3dcc-8cb7-9eb20f90bbd5",
            "identifier" : "275017eb-d98f-3529-afad-a9e102eea378",
            "instanceIdentifier" : "32d4329a-c038-1da3-ff38-8aa40e8310b8",
            "maxBackoffPeriod" : "10 mins",
            "name" : "Query Staging to Insert Warehouse",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : -3008.0,
              "y" : -1272.0
            },
            "properties" : {
              "esql-max-rows" : "0",
              "esqlrecord-record-writer" : "ebe52643-61d5-38a7-abd4-94522c6ae59e",
              "dbf-default-precision" : "10",
              "Max Wait Time" : "0 seconds",
              "Database Connection Pooling Service" : "ef45ab74-4478-3964-9a4e-00f01f8f672a",
              "esql-auto-commit" : "true",
              "dbf-user-logical-types" : "false",
              "dbf-default-scale" : "0",
              "esql-output-batch-size" : "0",
              "esql-fetch-size" : "0",
              "SQL select query" : "SELECT * FROM staging",
              "esqlrecord-normalize" : "false"
            },
            "propertyDescriptors" : {
              "esql-max-rows" : {
                "displayName" : "Max Rows Per Flow File",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "esql-max-rows",
                "sensitive" : false
              },
              "esqlrecord-record-writer" : {
                "displayName" : "Record Writer",
                "dynamic" : false,
                "identifiesControllerService" : true,
                "name" : "esqlrecord-record-writer",
                "sensitive" : false
              },
              "dbf-default-precision" : {
                "displayName" : "Default Decimal Precision",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "dbf-default-precision",
                "sensitive" : false
              },
              "Max Wait Time" : {
                "displayName" : "Max Wait Time",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Max Wait Time",
                "sensitive" : false
              },
              "Database Connection Pooling Service" : {
                "displayName" : "Database Connection Pooling Service",
                "dynamic" : false,
                "identifiesControllerService" : true,
                "name" : "Database Connection Pooling Service",
                "sensitive" : false
              },
              "sql-post-query" : {
                "displayName" : "SQL Post-Query",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "sql-post-query",
                "sensitive" : false
              },
              "esql-auto-commit" : {
                "displayName" : "Set Auto Commit",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "esql-auto-commit",
                "sensitive" : false
              },
              "dbf-user-logical-types" : {
                "displayName" : "Use Avro Logical Types",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "dbf-user-logical-types",
                "sensitive" : false
              },
              "dbf-default-scale" : {
                "displayName" : "Default Decimal Scale",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "dbf-default-scale",
                "sensitive" : false
              },
              "sql-pre-query" : {
                "displayName" : "SQL Pre-Query",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "sql-pre-query",
                "sensitive" : false
              },
              "esql-output-batch-size" : {
                "displayName" : "Output Batch Size",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "esql-output-batch-size",
                "sensitive" : false
              },
              "esql-fetch-size" : {
                "displayName" : "Fetch Size",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "esql-fetch-size",
                "sensitive" : false
              },
              "SQL select query" : {
                "displayName" : "SQL select query",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "SQL select query",
                "sensitive" : false
              },
              "esqlrecord-normalize" : {
                "displayName" : "Normalize Table/Column Names",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "esqlrecord-normalize",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.ExecuteSQLRecord",
            "yieldDuration" : "1 sec"
          } ],
          "remoteProcessGroups" : [ ]
        } ],
        "processors" : [ ],
        "remoteProcessGroups" : [ ]
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : {
        "DataLakeParams" : {
          "componentType" : "PARAMETER_CONTEXT",
          "inheritedParameterContexts" : [ ],
          "name" : "DataLakeParams",
          "parameters" : [ {
            "description" : "",
            "name" : "postgres_username",
            "provided" : false,
            "sensitive" : false,
            "value" : "postgres"
          }, {
            "description" : "values: \n1. test\n2. production",
            "name" : "database",
            "provided" : false,
            "sensitive" : false,
            "value" : "test"
          }, {
            "description" : "",
            "name" : "DatabaseDriverClassName",
            "provided" : false,
            "sensitive" : false,
            "value" : "org.postgresql.Driver"
          }, {
            "description" : "1. /home/vfilip/staging\n2. /home/vfilip/production_staging",
            "name" : "gx_dir",
            "provided" : false,
            "sensitive" : false,
            "value" : "/home/vfilip/staging"
          }, {
            "description" : "",
            "name" : "DatabaseDriverLocation",
            "provided" : false,
            "sensitive" : false,
            "value" : "/home/vfilip/nifi/nifi-1.28.1/drivers/postgresql-42.7.4.jar"
          }, {
            "description" : "",
            "name" : "postgres_password",
            "provided" : false,
            "sensitive" : true
          }, {
            "description" : "",
            "name" : "SlackWebhookURL",
            "provided" : false,
            "sensitive" : true
          }, {
            "description" : "1. /home/vfilip/staging/validate_nifi_staging.py\n2. /home/vfilip/production_staging/production_validate_nifi_staging.py",
            "name" : "gx_validation_script",
            "provided" : false,
            "sensitive" : false,
            "value" : "/home/vfilip/staging/validate_nifi_staging.py"
          } ]
        }
      },
      "parameterProviders" : { }
    }
  }
}